# Default ignored files
/shelf/
/workspace.xml
.env
# Rider ignored files
/.idea.investment-fund-admin.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml